#features-menu li a.icon-welcome span.icon {
  background:url(images/welcome.png) no-repeat;
}

.feature .feature-imageboard {
  background:transparent url(images/imageboard.png) no-repeat;
}

span.spaces-feature.feature-imageboard { background:url(images/imageboard.png) no-repeat; height:20px; width:20px; }
